body {
    background: linear-gradient(#1e90ff,white );
    font-family: sans-serif;
    text-align: center;
}
#divborda {
    background: linear-gradient(#87ceeb);
    padding-top: 90px;
    width: 500px;
    height: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    display: inline-block;
}
img{
    display: inline-block;

    border-width: 5px;
    border-radius: 10px;
}



