
body{
    padding-top: 100px;
    text-align:center;
    background-image: url('back3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1700px;
        /*background-position: -200px;*/
    


}
div{
    background:#5fabf7;
    width: 500px;
    height: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    display: inline-block;

}
svg{
    margin: 50px;
    

}
.imge{
    position: relative;
    top: 20px;
    right: 80px;
}
.imgl{
    position: relative;
    top: 20px;
    left: 60px;
}
.imgresultado{
    position: relative;
    top: 80px;
    right: 70px;
}
.imgagendamento{
    position: relative;
    top: 80px;
    left: 70px;
}
.imgbanco{
    position: relative;
    top: 160px;
    right: 55px;
}
.imgatendimento{
    position: relative;
    top: 160px;
    left: 55px;
}

label{
    position: relative;
    bottom:50px;
    right: 40px;
    margin-right: 50px;
}