body{
    padding-top: 100px;
    text-align:center;
    font-family: sans-serif;
    background: linear-gradient(#1e90ff,white, #1e90ff);

}
div{
    background:#5fabf7;
    width: 500px;
    height: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    display: inline-block;

}
svg{
    margin: 50px;
    

}
label{
    position: relative;
    bottom:50px;
    right: 40px;
    margin-right: 50px;
}